<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong id = "anagram">{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">


<!-- This is where the form must differ from before ******************************* -->
  <form id="entry">  <!--  method="POST" action="/_check"> -->
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
   <!--  <input type="submit" name="try" /> -->
  </form>
</div></div>

<p style="color:red;" id="response"> </p> 
<p style="font-size:30px;" id="You_found"> </p>
<p id="words_so_far"> </p> 
<p id="test"> </p>

<br />
<!--
{% if session.matches|length is not equalto 0  %}
<h2>You found </h2>
<p id="results">
  {% for match in session.matches %}
  {{ match }} 
  {% endfor %}
</p>
{% endif %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
 -->
    <!-- Mismatch, already found, etc. "flashed" from Python -->
<!--
    {% for message in messages %}
      <p class="message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
-->

<script>
//var word_list = "hi";

//$("#response").html(word_list);


// Suppress normal form submission
$("#entry").submit( function(event) {
   event.preventDefault();
  });


$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);
   var go_to_sucess = false
   //
   // That letter might not be a letter ... it could be the
   // the backspace key, or even the shift key, because 'keyup'
   // catches all kinds of keys.  (Also, the difference between
   // upper and lower case comes from state of shift key + key code,
   // so ignoring the shift key we get only the upper case letters.

  if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { 
  $("#attempt").val("");
  return }

   $.getJSON( "/_countem", { text: txt}, 
              function(data) {
                rsval = data.result.found_word;
                words_matched = data.word_list.words_so_far;
                already_found = data.already_found.been_found;
                is_done = data.are_you_done.is_done;
                reset = data.result.reset;
                the_anagram = data.result.the_anagram;
                in_jumble = data.result.in_jumble;
                index_list_to_grey = data.result.index_list_to_grey;
                console.log("rsval: " + rsval)
                console.log("words so far: " + words_matched)
                console.log("been found?: " + already_found)
                console.log("are you done? : " + is_done)
                console.log("reset letter?: " + reset)
                console.log("the anagram? " + the_anagram)
                console.log("in jumble? " + in_jumble)
                console.log("to grey? " + index_list_to_grey)

                var to_be_modified = the_anagram

                the_len = the_anagram.length;
                //str.length;
                //(function() {
                copy_to_be_modified = to_be_modified

                final_modified = "";

                //the_len_to_modify = to_be_modified.length;

                
                    $("#anagram").html("");
                    console.log(index_list_to_grey);
                    for (i = 0; i < the_len; i++){
                        console.log(i)
                        c = copy_to_be_modified.charAt(i);
                        if (index_list_to_grey.includes(i) ) 
                          {var cls = "color:grey";
                            console.log("found a grey digit!!!!");
                      }
                    
                    final_modified += "<span style='"+cls+"'>"+c+"</span>";
                    cls="";
                    }
                    console.log("WATSUP?? " + final_modified)
                    $("#anagram").html(final_modified);

                  //})();

                

                //document.getElementById("anagram").innerHTML = the_anagram;

                if (is_done){
                  console.log("test success")
                  location.href = "/success"

                }

                if ((rsval) && (!already_found)){
                   //$("You_found").val("You Found");
                   //$("#response").html("You Found" + " " + txt);
                   $("#attempt").val("");
                   $("#words_so_far").html(words_matched); 
                   $("#You_found").html("You Found");
                   $("#response").html("");


                }
                else {
                      if (reset){
                        attempt_len = txt.length;
                        the_attempt = txt;
                        the_attempt_minus_one = the_attempt.slice(0,attempt_len -1)
                        $("#attempt").val(the_attempt_minus_one);

                        $("#response").html("That letter is not in the Anagram");
                        //$("#attempt").val();

                          
                        }
                      else{$("#response").html("");

                          }
                if (already_found){
                   $("#response").html("you already found: " + txt)

                    }
            }
              
           }
       );
        

    }

);
















</script>


 </div> <!-- container -->
</body> </html>
